:root {
	/* Colors */
	--primary-color: #735ce5;
	--text-color: #edf2f4;
	--secondary-color: #eae5ff;

	/* Heights */
	--generator-height: 14rem;
	--modal-container-height: 100vh;

	/* Widths */
	--generator-width: 12rem;
	--modal-container-width: 100vw;
	--modal-width: calc(var(--modal-container-width) - 30vw);
	--input-width: 300px;
	--output-width: 400px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Exo 2', 'Courier New', Courier, monospace;
	background-color: var(--primary-color);
	color: var(--text-color);
	overflow-x: hidden;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 1.5rem 4rem 0.5rem 4rem;
}

nav h1 {
	background: linear-gradient(
		90.3deg,
		#ffffff 47.88%,
		#aca1e5 74.32%,
		#bfb8e5 99.74%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	cursor: pointer;
}

.menu {
	cursor: pointer;
}

.menu div {
	width: 1.6rem;
	margin-bottom: 5px;
	height: 2.5px;
	background-color: var(--secondary-color);
}

main {
	margin-top: 3rem;
	padding: 0 4rem 0 4rem;
}

/* Generator Card */

.generators {
	display: flex;
	flex-wrap: wrap;
}

.generator {
	height: var(--generator-height);
	width: var(--generator-width);
	border-radius: 10px;
	text-align: center;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	background-color: var(--secondary-color);
	margin-right: 2rem;
	margin-bottom: 0.7rem;
}

.generator:hover {
	box-shadow: var(--secondary-color) -2.5px 2.5px 2px;
}

.generator > img {
	width: var(--generator-width);
	height: calc(var(--generator-height) / 1.4);
	border-radius: 10px 10px 0 0;
}

.generator > div {
	height: calc(var(--generator-height) / 2.8);
	width: var(--generator-width);
	background: rgba(149, 128, 255, 1);
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0.5rem 0 1rem 0;
}

.generator h2 {
	font-size: 1.2rem;
}

.generator > div img {
	height: 30px;
	width: 30px;
	position: relative;
	margin-left: auto;
	margin-right: 1rem;
}

/* Generator Modal */

.modal-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #1d2a3a48;

	display: none;
	place-items: center;
	padding: 2rem;
}

.modal-generator {
	width: calc(var(--modal-width) / 1.2);
	border: 1px solid var(--text-color);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #6d57d9;
	border: 1px solid rgba(191, 178, 255, 0.3);
	border-radius: 10px;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.modal-header p {
	font-weight: 600;
	text-decoration: underline;
}

.modal-header img {
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.modal-main-content {
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* inputs */

.input {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: var(--input-width);
}

.input > div {
	position: relative;
}

.input label {
	font-size: 1.2rem;
}

.input > div:first-of-type {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	position: relative;
}

.input > .btn {
	width: var(--input-width);
}

input[type='text'],
textarea,
textarea:focus {
	height: 30px;
	outline: none;
	padding: 5px;
	caret-color: var(--text-color);
	color: var(--text-color);
	background: transparent;
	border: 0.5px solid var(--text-color);
	border-radius: 3px;
}

::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

textarea,
textarea:focus {
	resize: none;
	height: 100px;
	width: var(--input-width);
	overflow-y: hidden;
}
.input p {
	margin-bottom: 0.5em;
}

.input label {
	background-color: #fff;
	display: flex;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	color: black;
}

[type='color'] {
	width: 30px;
	height: 30px;
	border: none;
	margin-right: 10px;
}

[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

[type='color']::-webkit-color-swatch {
	border: none;
}

.count {
	position: absolute;
	right: 24px;
	bottom: 2px;
	color: rgba(255, 255, 255, 0.461);
}

.btn {
	height: 40px;
	border-radius: 5px;
	display: grid;
	place-items: center;
	border: 1px solid var(--text-color);
	cursor: pointer;
	margin-top: 0.2rem;
}

.output {
	width: var(--output-width);
	height: 300px;
	word-wrap: break-word;
	margin-bottom: 1rem;
}

.download-output > p {
	font-size: 0.7rem;
}
.download-btn .btn {
	width: 100%;
}

/* FOOTER SECTION */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	position: fixed;
	bottom: 1rem;
	width: 100%;
	color: #04001a;
	z-index: -10;
}

a {
	color: var(--text-color);
}

@media screen and (max-width: 1300px) and (min-width: 1009px) {
	:root {
		--modal-width: calc(var(--modal-container-width) - 20vw);
	}
}

@media screen and (max-width: 1010px) {
	:root {
		--input-width: 100%;
		--modal-width: calc(var(--modal-container-width) - 10vw);
	}

	.modal-main-content {
		flex-direction: column;
		align-items: center;
	}

	.input {
		padding: 2rem;
	}
}

@media screen and (max-width: 650px) {
	:root {
		--output-width: 300px;
	}
}
