:root {
  /* Colors */
  --primary-color: #081121;
  --text-color: #edf2f4;
  --input-color: #000000;
  --secondary-color: #0e213c;
  --tertiary-color: #6c9dc5;
  --gradient-border-color-1: red;
  --gradient-border-color-2: blue;

  /* Widths */
  --generator-width: clamp(300px, 80%, 50vw);
  --content-container: 100%;
  --input-width: 300px;
  --output-width: 300px;
  --pseudo-footer-height: 70px;

  /* GRADIENT BORDER SECTION */
  --gradient-border-radius: 0;
  --gradient-border-degree: 45deg;

  /* Spacing */
  --spacing: 5px;

  /* Preview Track Styling */
  --preview-track-height: 0.5rem;
  --preview-track-width: 100%;
  --preview-track-radius: 10px;
  --preview-track-color: var(--secondary-color);

  /* Preview Track Styling */
  --preview-thumb-height: 1rem;
  --preview-thumb-width: 1rem;
  --preview-thumb-radius: 10px;
  --preview-thumb-color: var(--tertiary-color);
}

*,
*::after,
*::before {
  user-select: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #ffffff;
}

body {
  font-family: 'Exo 2', 'Courier New', Courier, monospace;
  color: var(--text-color);
  overflow: hidden;
  padding-bottom: var(--pseudo-footer-height);
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 1.5rem;
  min-width: 20vw;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 99;
}

.menu {
  display: none;
}

#menu-icon {
  cursor: pointer;
}

nav h1 {
  margin: 4rem 0 1rem 0;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #ffffff, var(--secondary-color), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 70% 100%;
  cursor: pointer;
  animation: moveColor 7s linear infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

nav ul {
  list-style: none;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown div {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown > div iconify-icon:first-of-type {
  margin-right: 5px;
}

.dropdown > ul {
  visibility: hidden;
  position: relative;
  max-height: 0px;
  opacity: 0;
  transform: scaley(0);
  transform-origin: 50% 0;
  margin-bottom: 10px;
}

.dropdown > ul {
  transition-property: transform, max-height, opacity;
  transition-duration: 350ms;
  /* transition: transform 350ms, max-height 350ms, opacity 350ms; */
  transition-timing-function: ease-in-out;
}

/* .dropdown:hover > ul, */
#showList {
  visibility: visible;
  max-height: 50px;
  opacity: 1;
  padding: 0.625rem;
  transform: scale(1) translateX(10px);
}

#category {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#category > li {
  font-size: 1rem;
  padding-left: 0.2rem;
  display: flex;
  padding-top: 0.625rem;
  flex-direction: column;
}

#category ul {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

#category ul > li {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 0.35rem;
}

#category ul > li span {
  margin-left: 0.2rem;
}

#category ul > li span.tooltip {
  position: absolute;
  right: -140px;
  padding: 5px;
  width: 145px;
  color: var(--input-color);
  background-color: var(--text-color);
  border-radius: 5px;
  display: none;
}

#category ul > li.tooltip::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -8%;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--text-color) transparent transparent;
}

#category ul > li:hover .tooltip {
  display: block;
}

#category ul > li:hover {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  ) !important;
  cursor: pointer;
}

main {
  width: var(--content-container);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  position: relative;
}

main > section {
  min-height: var(--content-container);
  min-width: var(--content-container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

main > section:first-of-type h1 {
  font-size: clamp(1rem, 2.5vw, 3rem);
  text-align: center;
  font-weight: 600;
}

main > section:first-of-type h2 {
  margin-top: 10px;
  font-size: clamp(0.7rem, 1vw, 2.7rem);
  text-align: center;
  font-weight: 500;
}

main > section:first-of-type span {
  color: var(--tertiary-color);
  font-style: italic;
  text-transform: uppercase;
}

main > section:last-of-type {
  display: none;
  position: relative;
}

.open {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 50px;
}

.open > p {
  opacity: 0;
}

.generators {
  min-height: var(--content-container);
  min-width: var(--content-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.generator-tool-title {
  position: fixed;
  top: 4%;
}

.generator-tool-title h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

/* inputs */
.generators > div {
  display: none;
  width: var(--generator-width);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-slider {
  height: 80px;
  width: 200px;

  position: absolute;
  left: -300px;
  border: 1px solid #fff;
  background: transparent;
}

[data-content='box-shadow'] .preview-slider {
  top: -79%;
}

[data-content='text-shadow'] .preview-slider {
  top: -30%;
  word-wrap: break-word;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-content='animation'] .preview-slider {
  top: -50%;
}

[data-content='transform'] .preview-slider {
  top: -50%;
}

[data-content='pic-text'] {
  display: flex;
}

.filepond--drop-label {
  border-radius: 8px;
  border: 2px dashed var(--tertiary-color);
}

[data-content='pic-text'] > label:first-of-type {
  width: var(--generator-width);
}

[data-content='input-range'] {
  gap: 5px;
}

[data-content='input-range'] > label:first-of-type {
  background-color: var(--primary-color);
  width: var(--generator-width);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
  height: fit-content;
  border-radius: 5px;
  margin-bottom: 20px;
}

[data-content='input-range'] > label:first-of-type p {
  font-size: 0.7em;
}

.radius,
.size {
  background-color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 5px;
  width: var(--generator-width);
}

.size > div {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.size label {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.size label > div {
  display: flex;
  justify-content: space-between;
}

.size > div div {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

textarea {
  border-radius: 5px;
  width: var(--generator-width);
  height: 50px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  resize: none;
  padding: 1rem;
  margin-bottom: var(--spacing);
  outline: none;
}

input::placeholder {
  color: #484848;
}

.colors,
[data-content='scroll'] > .input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: var(--spacing) 0 var(--spacing) 0;
  width: var(--generator-width);
}

.add-remove-color {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.add-remove-color > div:nth-of-type(even) {
  margin-left: 5px;
}

.newColor {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.preview {
  margin: var(--spacing) 0 var(--spacing) 0;
  width: var(--generator-width);
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.colors > .color:nth-of-type(even) {
  margin-left: 10px;
}

.color,
[data-content='scroll'] > .input label[for='width'] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 48%;
  margin-bottom: 5px;
}

.full-page {
  width: 100% !important;
}

.clr-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clr-field > button {
  width: 40px !important;
}

[data-coloris] {
  width: 100%;
  height: 30px;
  background: none;
  border: 1px solid #fff;
  padding: 10px;
  outline: none;
  color: white;
  border-radius: 5px;
}

[data-coloris]::placeholder {
  color: #fff;
}

.animation-type,
.transform-type {
  background-color: var(--primary-color);
  width: var(--generator-width);
  padding: 1rem;
  border-radius: 5px;
}

.animation-type > p,
.transform-type > p {
  margin-bottom: 0.5rem;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#animation-radio-label,
#transform-radio-label {
  display: flex;
  width: 6rem;
  padding: 0;
  margin: 0;
  background: none;
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.9em;
}

#animation-radio-label > span {
  padding: 0 8px 0 4px;
}

#radius-input-label {
  display: flex;
  justify-content: center;
  ::-ms-input-placeholder {
    color: var(--text-color);
  }
  caret-color: var(--text-color);
}

.toggle-radius {
  display: none;
  min-width: 0;
}
.track-input,
.thumb-input {
  width: 80%;
  padding: 5px;
}
.input-range-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.checkbox-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.circular-checkbox {
  display: flex;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Style for checked circular checkbox */
.circular-checkbox:checked {
  background-color: var(--tertiary-color);
}
.circular-checkbox:checked::before {
  content: '\2713'; /* Unicode checkmark character */
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.4; /* Adjust line height for vertical centering */
  color: #fff; /* Color for the tick mark */
  position: absolute;
  top: 0;
  left: 0;
}

#animation-duration {
  background: #0e213c;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-text-fill-color: white;
  padding: 4px;
  font-family: inherit;
}

#gradient-border-input {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-text-fill-color: black;
  padding: 4px;
  font-family: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#degree {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 5px;
  width: var(--generator-width);
  margin-top: var(--spacing);
}

#degree .label-title {
  margin-bottom: 0.6rem;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-display {
  opacity: 0.7;
}

.duration-label {
  background-color: var(--primary-color);
  width: var(--generator-width);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.styled-input,
.input-range-inputs[type='number'] {
  background-color: var(--secondary-color);
  border: 1px solid #010204;
  border-radius: 5px;
  color: var(--text-color);
  caret-color: var(--text-color);
  padding: 4px;
}

.input-range-inputs[type='number']::placeholder {
  color: var(--text-color);
}

.styled-input:focus,
.styled-input:focus-visible,
.input-range-inputs[type='number']:focus,
.input-range-inputs[type='number']:focus-visible {
  outline: none;
}

.styled-input::-webkit-inner-spin-button,
.styled-input::-webkit-outer-spin-button,
.input-range-inputs[type='number']::-webkit-inner-spin-button,
.input-range-inputs[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.duration-label > span {
  font-size: 0.9em;
}

.btn-container {
  width: var(--generator-width);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-container .reset {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  margin-top: calc(var(--spacing) + 10px);
  border: none;
  display: none;
}

.btn-container .reset-show {
  animation: 1s reset-show;
  display: flex;
}

@keyframes reset-show {
  from {
    transform: translateY(-30px);
  }
}

.btn {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  margin-top: calc(var(--spacing) + 10px);
  border: none;
  font-size: 14px;
  gap: 0.7rem;
}

.btn:hover {
  background-color: #0c49d2;
}

.degrees {
  width: var(--generator-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing);
}

.degrees-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: var(--content-container);
  border-radius: 5px;
}

.degrees-row label {
  width: 40% !important;
}

.degrees-row label > span:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.degrees-row label > span:nth-of-type(1) > span:nth-last-of-type(1) {
  opacity: 0.8;
  font-size: 12px;
}

.box-shadow-preview {
  --box-size: 100px;
  position: absolute;
  top: 1rem;
  left: 3.2rem;
  width: var(--box-size);
  height: var(--box-size);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.divider {
  width: 60%;
  border: none;
  height: 0.03rem;
  background-color: var(--text-color);
}

/* Results */
.side-results {
  display: none;
  background-color: var(--secondary-color);
  min-height: var(--content-container);
  min-width: var(--content-container);
  position: absolute;
  left: 100%;
  flex-direction: column;
}

.side-results .header {
  padding: 3rem;
}

.side-results .header,
.close-sideBar,
.open-sidebar {
  height: 10vh;
  display: flex;
  align-items: center;
}

.side-results .header > h2 {
  margin-left: 3rem;
}

.close-sideBar span.tooltip {
  position: relative;
  bottom: -20px;
  right: 40px;
  padding: 5px;
  width: 50px;
  margin-top: 35px;
  margin-right: -50px;
  font-size: 15px;
  text-align: center;
  color: var(--input-color);
  background-color: var(--text-color);
  border-radius: 5px;
  display: none;
}

.open-sidebar > span.tooltip {
  position: relative;
  bottom: -35px;
  right: 40px;
  padding: 5px;
  width: 50px;
  margin-top: 10px;
  margin-right: -50px;
  font-size: 15px;
  text-align: center;
  color: var(--input-color);
  background-color: var(--text-color);
  border-radius: 5px;
  display: none;
}

.close-sideBar .tooltip::before {
  content: '';
  position: absolute;
  top: -15%;
  left: 8%;
  margin-top: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent var(--text-color) transparent transparent;
}

.open-sidebar > span.tooltip::before {
  content: '';
  position: absolute;
  top: -15%;
  left: 5%;
  margin-top: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent var(--text-color) transparent transparent;
}

.open-sidebar > span.tooltip::before {
  top: -26%;
}

.close-sideBar:hover .tooltip,
.open-sidebar:hover > span.tooltip {
  display: block;
}

.go-back-icon span.tooltip {
  position: relative;
  bottom: -20px;
  right: 40px;
  padding: 5px;
  width: 50px;
  margin-top: 35px;
  margin-right: -50px;
  font-size: 15px;
  text-align: center;
  color: var(--input-color);
  background-color: var(--text-color);
  border-radius: 5px;
  display: none;
}

.go-back-icon .tooltip::before {
  content: '';
  position: absolute;
  top: -15%;
  left: 8%;
  margin-top: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent var(--text-color) transparent transparent;
}

.go-back-icon:hover .tooltip {
  display: block;
}

.output {
  width: var(--generator-width);
  height: 300px;
  word-wrap: break-word;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}

.output:not([data-result='pic-text'] > .output) {
  display: grid;
  place-items: center;
  font-size: clamp(20px, 1vw + 1rem, 3vw);
  text-align: center;
}

.download-output {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.gradient-border {
  visibility: hidden;
  position: relative;
  width: var(--output-width);
  height: 300px;
  margin-bottom: 1rem;
}

[data-content='border-radius'] {
  display: flex;
  flex-direction: column;
  width: 600px;
  position: relative;
}

.border-radius-preview-box {
  width: 250px;
  height: 250px;
  outline: 1px dashed var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

.border-radius-preview-box + .btn-container {
  margin-top: 1rem;
}

.border-radius-preview-box .preview {
  width: inherit;
  height: inherit;
  background: var(--primary-color);
}

.border-radius-inputs {
  width: 100%;
}

.radius-checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radius-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#border-radius-code {
  /* padding: 1rem; */
  background: var(--primary-color);
  margin-top: 2rem;
}

#border-radius-top {
  position: absolute;
  top: -2rem;
  left: 0;
}

#border-radius-left {
  position: absolute;
  transform: rotate(90deg);
  top: 7rem;
  left: -9rem;
}

#border-radius-right {
  position: absolute;
  transform: rotate(90deg);
  top: 7rem;
  left: 9rem;
}

#border-radius-bottom {
  position: absolute;
  bottom: -2rem;
  left: 0;
  transform: rotate(180deg);
  margin: 6px auto;
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 6px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.download-output > p {
  font-size: 0.7rem;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dropdown-container,
.image-download {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

.btn-dropdown-container .css-tailwind,
.image-download .png-svg {
  visibility: hidden;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
  margin-top: 0.3rem;
  opacity: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  padding: 0.3rem 0;
}

.css-tailwind.show-css-tailwind,
.png-svg.show-png-svg {
  visibility: visible;
  transform: translateY(0rem);
  opacity: 1;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.3rem 0.3rem 0.3rem 0.2rem;
  font-size: 12px;
}

.dropdown-item:hover {
  background-color: #0c49d2;
}

.image-download > button:first-of-type {
  margin-right: 1rem;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  background: var(--secondary-color);
  height: 0.5rem;
  border-radius: 10px;
}

input[type='range']::-moz-range-track {
  background: var(--secondary-color);
  height: 0.5rem;
  border-radius: 10px;
}

.border-range-inputs input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--primary-color);
}

.border-range-inputs input[type='range']::-moz-range-track {
  background-color: var(--primary-color);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--tertiary-color);
  height: 1rem;
  width: 1rem;
  margin-top: -3.2px;
  border-radius: 10px;
}

input[type='range']::-moz-range-thumb {
  border: none;
  background-color: var(--tertiary-color);
  height: 1rem;
  width: 1rem;
  border-radius: 10px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

#preview-range:focus::-webkit-slider-thumb,
#preview-range:focus::-moz-range-thumb {
  border: none;
  outline: none;
  outline-offset: none;
}

#preview-range {
  width: var(--preview-track-width);
}

#preview-range::-webkit-slider-runnable-track {
  height: var(--preview-track-height);
  width: 100%;
  border-radius: var(--preview-track-radius);
  background-color: var(--preview-track-color);
}

#preview-range::-moz-range-track {
  height: var(--preview-track-height);
  width: 100%;
  border-radius: var(--preview-track-radius);
  background-color: var(--preview-track-color);
}

#preview-range::-webkit-slider-thumb {
  background-color: var(--preview-thumb-color);
  height: var(--preview-thumb-height);
  width: var(--preview-thumb-width);
  border-radius: var(--preview-thumb-radius);
}

#preview-range::-moz-range-thumb {
  background-color: var(--preview-thumb-color);
  height: var(--preview-thumb-height);
  width: var(--preview-thumb-width);
  border-radius: var(--preview-thumb-radius);
}

/* Transform page styles */

.transform-preview {
  width: 200px;
  height: 200px;
}

#transform-degree {
  display: block;
}

/* Grid generators styles */

.grid-generators {
  width: var(--input-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-generators-preview {
  width: 100%;
  height: 200px;
  border: 1px solid white;
  margin-top: 10px;
  overflow: scroll;
}

.grid-generators input[type='number'] {
  border-radius: 5px;
  height: 50px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  resize: none;
  padding: 1rem;
  margin-bottom: var(--spacing);
  outline: none;
}

.grid-generators input[type='number']::placeholder {
  color: #ffffff;
}

.grid-input-containers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: var(--spacing);
  margin-top: calc(var(--spacing) + 10px);
}

/* SCROLL GENERATOR STYLES */
[data-content='scroll'] > .input {
  gap: 10px;
}

[data-content='scroll'] > .input input[type='number'] {
  width: 100%;
  padding: 8px;
  border-color: var(--text-color);
}

[data-content='scroll'] > .input input[type='number']::placeholder {
  color: var(--text-color);
}

/* FOOTER SECTION */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  position: relative;
  top: 2rem;
  color: var(--text-color);
}

a {
  color: var(--tertiary-color);
}

@keyframes moveColor {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}

.eggy {
  z-index: 10;
}

@keyframes showOpenPreviousResultText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1010px) {
  :root {
    --input-width: 100%;
  }

  nav ul > li:hover .tooltip {
    display: none;
  }

  .generator {
    margin: 0.8rem auto;
  }

  .input {
    padding: 2rem;
  }

  .btn-container {
    justify-content: space-around;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --output-width: 300px;
  }

  .box-shadow-row label {
    width: 50% !important;
  }

  .divider {
    width: 80%;
  }

  nav {
    position: absolute;
  }

  .output,
  .input {
    padding: 2rem 0.3rem 2rem 0.3rem;
  }

  .menu {
    display: block;
    position: absolute;
    top: 1.7rem;
    left: 1rem;
    z-index: 999;
  }

  .closed-nav {
    left: -100%;
  }

  .generator {
    margin: 0.8rem auto;
  }

  footer {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .box-shadow-preview {
    --box-size: 70px;
  }

  .generator-tool-title {
    top: 5%;
  }

  .generator-tool-title h1 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1000px) {
  .transform-container {
    justify-content: center;
    place-items: center;
    flex-direction: column-reverse;
    width: 100%;
  }

  .transform-inputs-container {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .input-range-container {
    display: flex;
    padding: 5px;
  }
  .track-input,
  .thumb-input {
    padding: 2px;
    width: 60%;
  }
  .checkbox-title {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
