:root {
  /* Colors */
  --primary-color: #081121;
  --text-color: #edf2f4;
  --input-color: #000000;
  --secondary-color: #0e213c;
  --tertiary-color: #2196f3;
  --gradient-border-color-1: red;
  --gradient-border-color-2: blue;

  /* Heights */

  /* Widths */
  --generator-width: clamp(300px, 80%, 50vw);
  --content-container: 100%;
  --input-width: 300px;
  --output-width: 300px;
  --pseudo-footer-height: 70px;

  /* GRADIENT BORDER SECTION */
  --gradient-border-radius: 0;
  --gradient-border-degree: 45deg;

  /* Spacing */
  --spacing: 5px;
}

*,
*::after,
*::before {
  user-select: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #000;
}

body {
  font-family: 'Exo 2', 'Courier New', Courier, monospace;
  color: var(--text-color);
  overflow: hidden;
  padding-bottom: var(--pseudo-footer-height);
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 1.5rem;
  min-width: 15vw;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 99;
}

.menu {
  display: none;
}
#menu-btn {
  display: none;
}
#menu-icon {
  cursor: pointer;
}

nav h1 {
  margin: 4rem 0;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #ffffff, var(--secondary-color), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 70% 100%;
  cursor: pointer;
  animation: moveColor 7s linear infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

nav ul {
  list-style: none;
}

nav ul > li {
  font-size: 0.8rem;
  padding: 0.6rem 0.5rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

nav ul > li span {
  margin-left: 0.2rem;
}

nav ul > li span.tooltip {
  position: absolute;
  right: -140px;
  padding: 5px;
  width: 145px;
  color: var(--input-color);
  background-color: var(--text-color);
  border-radius: 5px;
  display: none;
}

nav ul > li .tooltip::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -8%;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--text-color) transparent transparent;
}

nav ul > li:hover .tooltip {
  display: block;
}

nav ul > li:hover {
  background: linear-gradient(
    80deg,
    var(--primary-color),
    var(--secondary-color)
  );
  cursor: pointer;
}

main {
  width: var(--content-container);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  position: relative;
  outline: 2px solid red;
}

main > section {
  min-height: var(--content-container);
  min-width: var(--content-container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

main > section:first-of-type h1 {
  font-size: clamp(1rem, 10vw, 2rem);
  text-align: center;
}

main > section:first-of-type h2 {
  margin-top: 10px;
  font-size: clamp(0.5rem, 10vw, 1rem);
  text-align: center;
}

main > section:first-of-type span {
  color: var(--tertiary-color);
}

main > section:first-of-type video {
  width: clamp(300px, 50vw, 800px);
  height: clamp(300px / 1.75, 50vw / 1.75, 800px / 1.75);
  margin-top: 20px;
  border: 2px solid var(--text-color);
}

main > section:last-of-type {
  display: none;
}

.open-sidebar {
  position: absolute;
  top: 10px;
  right: 50px;
}

.generators {
  min-height: var(--content-container);
  min-width: var(--content-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* inputs */

.generators > div {
  display: none;
  width: var(--generator-width);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-content='pic-text'] {
  display: flex;
}

[data-content='pic-text'] > div:first-of-type {
  width: var(--generator-width);
  border: 2px dashed var(--tertiary-color);
}

textarea {
  border-radius: 5px;
  width: var(--generator-width);
  height: 150px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  resize: none;
  padding: 1rem;
  margin-bottom: var(--spacing);
}

::placeholder {
  color: #484848;
  font-size: 0.875rem;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing) 0 var(--spacing) 0;
}

.colors .preview {
  margin: var(--spacing) 0 var(--spacing) 0;
  width: calc(var(--generator-width) / 2);
  height: 20px;
  background-color: var(--primary-color);
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clr-field {
  width: var(--generator-width);
}

[data-coloris] {
  width: 100%;
  height: 25px;
}

[type='color'] {
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type='color']::-webkit-color-swatch {
  border: none;
}

#radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.animation-type {
  background-color: var(--primary-color);
  width: var(--content-container);
  padding: 1rem;
  border-radius: 5px;
}

.animation-type > p {
  margin-bottom: 0.5rem;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#animation-radio-label {
  display: flex;
  width: 6rem;
  padding: 0;
  margin: 0;
  background: none;
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.9em;
}

#animation-radio-label > span {
  padding: 0 8px 0 4px;
}

#radius-input-label {
  display: flex;
  justify-content: center;
}

#gradient-border-input {
  display: none;
  min-width: 0;
}

#animation-duration,
#gradient-border-input {
  border: 2px solid #2196f3;
  border-radius: 5px;
  padding: 4px;
  margin-top: 8px;
  font-family: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#degree {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 5px;
  width: var(--generator-width);
  margin-top: var(--spacing);
}

.radius {
  text-align: center;
  background-color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 5px;
  width: var(--content-container);
}

#degree .label-title {
  margin-bottom: 0.6rem;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-display {
  opacity: 0.7;
}

.duration-label {
  background-color: var(--primary-color);
  width: var(--content-container);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.styled-input {
  background-color: var(--secondary-color);
  border: 1px solid #010204;
  border-radius: 5px;
  caret-color: var(--primary-color);
  color: var(--text-color);
  padding: 4px;
}

.styled-input:focus,
.styled-input:focus-visible {
  outline: none;
}

.styled-input::-webkit-inner-spin-button,
.styled-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.duration-label > span {
  font-size: 0.9em;
}

.btn {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  margin-top: calc(var(--spacing) + 10px);
  border: none;
}
.btn:hover {
  background-color: #0c49d2;
}

.degrees {
  width: var(--generator-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing);
}

.degrees-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: var(--content-container);
}

.degrees-row label {
  width: 40% !important;
}

.degrees-row label > span:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.degrees-row label > span:nth-of-type(1) > span:nth-last-of-type(1) {
  opacity: 0.8;
  font-size: 12px;
}

.box-shadow-preview {
  --box-size: 100px;
  position: absolute;
  top: 1rem;
  left: 3.2rem;
  width: var(--box-size);
  height: var(--box-size);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.divider {
  width: 60%;
  border: none;
  height: 0.03rem;
  background-color: var(--text-color);
}

/* Results */
.side-results {
  display: none;
  background-color: var(--secondary-color);
  min-height: var(--content-container);
  min-width: var(--content-container);
  position: absolute;
  left: 100%;
  flex-direction: column;
}

.side-results .header {
  padding: 3rem;
}

.side-results .header,
.close-sideBar,
.open-sidebar {
  height: 10vh;
  display: flex;
  align-items: center;
}

.side-results .header > h2 {
  margin-left: 3rem;
}

.close-sideBar span.tooltip {
  position: relative;
  bottom: -20px;
  right: 40px;
  padding: 5px;
  width: 50px;
  margin-top: 35px;
  margin-right: -50px;
  font-size: 15px;
  text-align: center;
  color: var(--input-color);
  background-color: var(--text-color);
  border-radius: 5px;
  display: none;
}

.open-sidebar > span.tooltip {
  position: relative;
  bottom: -20px;
  right: 40px;
  padding: 5px;
  width: 50px;
  margin-top: 10px;
  margin-right: -50px;
  font-size: 15px;
  text-align: center;
  color: var(--input-color);
  background-color: var(--text-color);
  border-radius: 5px;
  display: none;
}

.open-sidebar > span.tooltip {
  top: 5%;
  left: -10px;
}

.close-sideBar .tooltip::before {
  content: '';
  position: absolute;
  top: -15%;
  left: 8%;
  margin-top: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent var(--text-color) transparent transparent;
}

.open-sidebar > span.tooltip::before {
  content: '';
  position: absolute;
  top: -15%;
  left: 5%;
  margin-top: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent var(--text-color) transparent transparent;
}

.open-sidebar > span.tooltip::before {
  top: -26%;
}

.close-sideBar:hover .tooltip,
.open-sidebar:hover > span.tooltip {
  display: block;
}

.output {
  width: var(--generator-width);
  height: 300px;
  word-wrap: break-word;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}

.output:not([data-result='pic-text'] > .output) {
  display: grid;
  place-items: center;
  font-size: clamp(20px, 1vw + 1rem, 3vw);
}

.download-output {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.gradient-border {
  visibility: hidden;
  position: relative;
  width: var(--output-width);
  height: 300px;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

[data-content='border-radius'] {
  display: flex;
  flex-direction: column;
  width: 600px;
  position: relative;
}

.border-radius-preview-box {
  width: 250px;
  height: 250px;
  border: 1px dashed var(--text-color);
  margin-bottom: 1rem;
  position: relative;
}

.border-radius-preview-box .preview {
  width: 100%;
  height: 100%;
  background: var(--primary-color);
}
.border-range-inputs input {
  width: 100%;
  cursor: pointer;
}

#border-radius-code {
  padding: 1rem;
  background: var(--primary-color);
  margin-top: 2rem;
}

.border-range-inputs input:nth-child(1) {
  position: absolute;
  top: -2rem;
  left: 0;
}

.border-range-inputs input:nth-child(2) {
  position: absolute;
  transform: rotate(90deg);
  top: 7rem;
  left: -9rem;
}
.border-range-inputs input:nth-child(3) {
  position: absolute;
  transform: rotate(90deg);
  top: 7rem;
  left: 9rem;
}
.border-range-inputs input:nth-child(4) {
  position: absolute;
  bottom: -2rem;
  left: 0;
  transform: rotate(180deg);
  margin: 6px auto;
}

/*	
* NOTE: The border-radius property is not supported with border-image, therefore,
*	the css for the gradient-border below relies on CSS Mask property applied to a pseudo background.
*
* 	The code below uses a trick based on using a pseudo element to circumvent 
*	the restriction posed by using border-image.
*	1. The before pseudo element represents the background-image placed on the .gradient-border div.
*	   We apply a gradient as background and we make its origin the border box 
*      (by default it's the padding box).
*	2. Using the mask property, we apply two opaque layers.
*	   The bottom one will cover the whole element and 
*	   the top one will cover only the content box (so it will not cover the border area).
*	3. Using the mask-composite property, we exclude the content area from the border area 
*	   so that only the border will remain visible.
*	4. -webkit-mask-composite: xor; this line is required for compatibility with Chrome browser.
	@demo: https://stackoverflow.com/questions/51496204/border-gradient-with-border-radius
	@credit: https://dev.to/afif/border-with-gradient-and-radius-387f
*/

.gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--gradient-border-radius);
  padding: 6px;
  background: linear-gradient(
      var(--gradient-border-degree, 45deg),
      var(--gradient-border-color-1, red),
      var(--gradient-border-color-2, blue)
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.bg-output {
  width: var(--output-width);
  height: 300px;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.download-output > p {
  font-size: 0.7rem;
}

.download-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(25%, 35%);
}

.image-download {
  display: flex;
}

.image-download > button:first-of-type {
  margin-right: 1rem;
}

/* RANGE INPUTS */

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  margin: 2px;
  background: #cecece;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 20px;
  border-radius: 30%;
  background: #004c6d;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* FOOTER SECTION */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  position: absolute;
  bottom: 2rem;
  color: var(--text-color);
}

a {
  color: var(--tertiary-color);
}

@keyframes moveColor {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.eggy {
  z-index: 10;
}

@media screen and (max-width: 1010px) {
  :root {
    --input-width: 100%;
  }

  nav ul > li:hover .tooltip {
    display: none;
  }

  .generator {
    margin: 0.8rem auto;
  }

  .input {
    padding: 2rem;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --output-width: 300px;
  }

  .box-shadow-row label {
    width: 50% !important;
  }

  .divider {
    width: 80%;
  }

  nav {
    position: absolute;
  }

  .output,
  .input {
    padding: 2rem 0.3rem 2rem 0.3rem;
  }

  .menu {
    display: block;
    position: absolute;
    top: 1.7rem;
    left: 1rem;
    z-index: 999;
  }

  .closed-nav {
    left: -100%;
  }

  .generator {
    margin: 0.8rem auto;
  }

  footer {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .box-shadow-preview {
    --box-size: 70px;
  }
}
